<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Data Penyewaan</h1>
    <form action=""method="post">
        {% csrf_token %} 
        <table>
            <tr>
                <th>Tanggal Penyewaan</th>
                <td>
                    <input type="date" name="tanggalpenyewaan">
                </td>
            </tr>
            <tr>
                <th>Durasi</th>
                <td>
                    <input type="number" name="durasi">
                </td>
            </tr>
            <tr>
                <th>Tanggal Pengembalian</th>
                <td>
                    <input type="date" name="tanggalpengembalian">
                </td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>    
</body>
</html>