<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mobil</h1>
    <table>
        <tr>
            <th>No Polisi</th>
            <th>Konfirmasi</th>
        </tr>
        {% for item in allmobilobj %}
        <tr>
            <td>{{ item.nopolisi}}</td>
            <td>{{ item.konfirmasi}}</td>
            <td>
                <a href="{% url 'updatemobil' item.idmobil %}">
                    <button>Update</button>
                </a>
                <a href="{% url 'deletemobil' item.idmobil %}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'createdatajenismobil' %}"> 
        <button>Create Data</button>
    </a>
    <h1>Get Mobil</h1>
    <table>
        <tr>
            <th>No Polisi</th>
            <th>Konfirmasi</th>
        </tr>
        <tr>
            <td>{{ getmobilobj.nopolisi }}</td>
            <td>{{ getmobilobj.konfirmasi }}</td>
        </tr>
    </table> 
</body>
</html>