<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Penyewaan</h1>
    <table>
        <tr>
            <th>Tanggal Penyewaan</th>
            <th>Durasi</th>
            <th>Tanggal Pengembalian</th>
        </tr>
        {% for item in allpenyewaanobj %}
        <tr>
            <td>{{ item.tanggalpenyewaan}}</td>
            <td>{{ item.durasi}}</td>
            <td>{{ item.tanggalpengembalian}}</td>
            <td>
                <a href="{% url 'updatepenyewaan' item.idpenyewaan %}">
                    <button>Update</button>
                </a>
                <a href="{% url 'deletepenyewaan' item.idpenyewaan %}">
                    <button>Delete</button>
                </a>
            </td> 
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'createdatapenyewaan' %}"> 
        <button>Create Data</button>
    </a>
    <h1>Get Penyewaan</h1>
    <table>
        <tr>
            <th>Tanggal Penyewaan</th>
            <th>Durasi</th>
            <th>Tanggal Pengembalian</th>
        </tr>
        <tr>
            <td>{{ getpenyewaanobj.tanggalpenyewan }}</td>
            <td>{{ getpenyewaanobj.durasi }}</td>
            <td>{{ getpenyewaanobj.tanggalpengembalian }}</td>
        </tr>
    </table>
</body>
</html>