<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Data Jenis Mobil</h1>
    <form action="" method="post">
        {% csrf_token %} 
        <table>
            <tr>
                <th>Nama Mobil</th>
                <td>

                    <input type="text" name="namamobil" value="{{jenismobilobj.namamobil}}">
                </td>
            </tr>
            <tr>
                <th>Jumlah Mobil</th>
                <td>

                    <input type="number" name="jumlahmobil" value="jenismobilobj.jumlahmobil">
                </td>
            </tr>
            <tr>
                <th>Harga Sewa</th>
                <td>

                    <input type="number" name="hargasewa" value="jenismobilobj.hargasewa">
                </td>
            </tr>
        </table>
        <button type="submit" >Submit</button>
    </form>
</body>
</html>